@model SurveyForEducationAPI.Models.ViewModels.CategoryIndexData

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Category name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Categories)
    {
        string selectedRow = "";
        if (item.Id == ViewBag.CateID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Select", "Index", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@if (Model.Surveys != null)
{
    <h3>Surveys by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>No.</th>
            <th>Title</th>
            <th>Status</th>
            <th>Created date</th>
        </tr>

        @foreach (var item in Model.Surveys)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.SurID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { surveyID = item.Id })
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.CreatedAt
                </td>
            </tr>
        }

    </table>
}

@if (Model.Questions != null)
{
    <h3>
        Questions of this Survey
    </h3>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </table>
}
